<!doctype html>
<head>
  <script src="htmx.min.js"></script>
  <script src="sse.min.js"></script>
  <link href="styles.css" rel="stylesheet" />
  <title>nothingverse</title>
</head>

<body class="centered text-3xl md:text-lg">
  <div class="centered">
    <p class="mt-3 text-4xl md:text-3xl">Welcome to</p>
    <div class="text-base md:text-lg">{% include "logo.html" %}</div>
  </div>
  <div class="centered m-2" id="post_area">
    {% include "create_post_button.html" %}
  </div>
  {% include "posts.html" %}
</body>
