<button hx-post="/submit_post" hx-vals="js:{content: document.getElementById('generation-1').textContent}">
    {% let index = 1 %}
    {% include "generation.html" %}
</button>
<br>
<button hx-post="/submit_post" hx-vals="js:{content: document.getElementById('generation-2').textContent}">
    {% let index = 2 %}
    {% include "generation.html" %}
</button>
<br>
<button hx-post="/submit_post" hx-vals="js:{content: document.getElementById('generation-3').textContent}">
    {% let index = 3 %}
    {% include "generation.html" %}
</button>
